{% extends '::base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <h1>Bienvenue sur le site web de notre restaurant</h1>
    <div class="ui two column grid" style="margin-top: 50px;">
        <div class="ui cards">
            <div class="card">
                <div class="image">
                    <img class="imageIndex" src="{{  asset('assets/img/menu.png')}}" alt="Image du menu">
                </div>
                <div class="content">
                    <div class="header">
                        <a href="{{ path('menu_index') }}">Nos Menus</a>
                    </div>
                    <div class="description">
                        Le choix idéal pour combler votre fringale !
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img class="imageIndex" src="{{  asset('assets/img/plat.jpg')}}" alt="Image du plat">
                </div>
                <div class="content">
                    <div class="header">
                        <a href="{{ path('plat_index') }}">Nos Plats</a>
                    </div>
                    <div class="description">
                        Des plats en tout genre pour tous les gouts
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui cards" style="margin-top: 50px;">
            <div class="card" style="width: 100%;">
                <div class="content">
                    <div class="header">
                        <a href="{{ path('reservation_new') }}">Réserver</a>
                    </div>
                    <div class="description">
                        Cliquez ici pour réserver une table
                    </div>
                </div>
             </div>
        </div>
    </div>

{% endblock %}