<div class="pagination">
    <div class="pagination-buttons">
        {% if pagination.page>1 %}
            <a class="mini ui red button" href="{{ path(pagination.route,
            pagination.route_params|merge({'page': 1})) }}"><<</a>
            <a  class="mini ui red basic button" href="{{ path(pagination.route,
            pagination.route_params|merge({'page': pagination.page-1})) }}"><</a>
        {% endif %}
        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}

        {% for p in range(max(pagination.page-2, 1),min(pagination.page+2, pagination.pages_count)) %}
            <a  {% if p == pagination.page %} class="current-page mini ui grey button" {% else %} class="mini ui  basic grey button"{% endif %}
                    href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': p})) }}">{{ p }}</a>
        {% endfor %}
        {% if pagination.page<pagination.pages_count %}
            <a  class="mini ui green basic button"href="{{ path(pagination.route,
            pagination.route_params|merge({'page': pagination.page+1})) }}">></a>
            <a class="mini ui green button" href="{{ path(pagination.route,
            pagination.route_params|merge({'page': pagination.pages_count})) }}">>></a>
        {% endif %}
    </div>
</div>