{% extends 'base.html.twig' %}
{% block title %}Utilisateurs{% endblock %}
{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="ui table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Login</th>
                <th>Role</th>
                <th>Email</th>
                <th>Créé le</th>
                <th>Mise à jour le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.roles[0] }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="ui inverted button small blue" href="{{ path('user_show', { 'id': user.id }) }}">Voir</a>
                    <a class="ui inverted button small orange" href="{{ path('user_edit', { 'id': user.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.pages_count > 1 %}
        {% include 'RestaurantBundle:Default:pagination.html.twig' %}
    {% endif %}
    <br>

    <a class="ui button inverted green" href="{{ path('user_new') }}">Créer un utilisateur</a>

{% endblock %}
