{% extends 'base.html.twig' %}
{% block title %}Création utilisateur{% endblock %}
{% block body %}
    <h1>Création d'un utilisateur</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="ui button inverted green" type="submit" value="Créer"/>
    {{ form_end(form) }}

    <a class="ui button inverted blue" href="{{ path('admin_user_index') }}">Retour à la liste</a>
{% endblock %}
