{% extends 'base.html.twig' %}
{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}
{% block body %}
    <h1>Utilisateur</h1>

    <table class="ui definition table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <td>Login</td>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>{{ user.roles[0] }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Créé le</td>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <td>Mise à jour le</td>
                <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a class="ui button inverted blue" href="{{ path('admin_user_index') }}">Revenir à la liste</a>
    <a class="ui button inverted orange" href="{{ path('user_edit', { 'id': user.id }) }}">Editer</a>
    {{ form_start(delete_form) }}
    <input class="ui button inverted red" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
{% endblock %}
