{% extends 'base.html.twig' %}
{% block title %}Erreur 404{% endblock %}
{% block body %}
    <!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
    <!DOCTYPE HTML>
    <html>
    <head>
        <title>oops 404 for Website Template for free | Home :: w3layouts</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
        <style type="text/css">
            body{

            }
            body{
                background:#eaeaea;
            }
            .wrap{
                margin:0 auto;
                width:1000px;
            }
            .logo{
                text-align:center;
                margin-top:200px;
            }
            .logo img{
                width:350px;
            }
            .logo p{
                color:#272727;
                font-size:40px;
                margin-top:1px;
                font-family: 'Love Ya Like A Sister', cursive;
            }
            .logo p span{
                color:lightgreen;
            }
            .sub a{
                color:#fff;
                background:#272727;
                text-decoration:none;
                padding:10px 20px;
                font-size:13px;
                font-family: arial, serif;
                font-weight:bold;
                -webkit-border-radius:.5em;
                -moz-border-radius:.5em;
                -border-radius:.5em;
            }
        </style>
    </head>


    <body>
    <div class="wrap">
        <div class="logo">
            <p>OOPS! - Impossible de trouver la page</p>
            <img src="{{  asset('assets/img/404-1.png')}}"/>
            <div class="sub">
                <p><a href="{{ path('home') }}">Retour à l'accueil </a></p>
            </div>
        </div>
    </div>

    </body>
{% endblock %}