{% extends 'base.html.twig' %}
{% block title %}Menus - Admin{% endblock %}
{% block body %}
    <h1>Liste des menus - Admin</h1>
    <div>
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        {{ form_end(filterForm) }}
    </div>

    <table class="ui table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Auteur</th>
            <th>Statut</th>
            <th>Actions</th>
            {% if is_granted("ROLE_CHEF") %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.title }}</td>
                <td>{{ menu.price }}€</td>
                <td>{{ menu.author.firstname }} {{ menu.author.lastname }}</td>
                <td>
                    {% if menu.status == "ACCEPTED" %}<span class="ui green tag label">Validé</span>{% endif %}
                    {% if menu.status == "DRAFT" %}<span class="ui teal tag label">Brouillon</span>{% endif %}
                    {% if menu.status == "REFUSED" %}<span class="ui red tag label">Refusé</span>{% endif %}
                    {% if menu.status == "PENDING" %}<span class="ui yellow tag label">En attente</span>{% endif %}
                </td>
                <td>
                    <a class="ui inverted button small blue" href="{{ path('menu_show', { 'id': menu.id }) }}">Voir</a>
                    <a class="ui inverted button small orange " href="{{ path('menu_edit', { 'id': menu.id }) }}">Editer</a>

                    {% if menu.status == "PENDING" and is_granted("ROLE_REVIEWER") %}
                        <a class="ui inverted button small green" href="{{ path('menu_accept', {'id' : menu.id}) }}">Accepter le Menu</a>
                        <a class="ui inverted button small red" href="{{ path('menu_refuse', {'id' : menu.id}) }}">Refuser le Menu</a>
                    {% endif %}
                </td>
                {% if is_granted("ROLE_CHEF") %}
                <td>
                    <a class="ui inverted small icon button red" href="{{ path('menu_delete', {'id' : menu.id}) }}">
                        <i class="remove icon"></i>
                    </a>
                </td>
                {% endif%}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.pages_count > 1 %}
        {% include 'RestaurantBundle:Default:pagination.html.twig' %}
    {% endif %}
    <br>
    <a class="ui inverted button green" href="{{ path('menu_new') }}">Créer un menu</a>

{% endblock %}
