{% extends 'base.html.twig' %}
{% block title %}Menus{% endblock %}
{% block body %}
    <h1>Liste des menus</h1>

    <table class="ui table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.title }}</td>
                <td>{{ menu.price }}€</td>
                <td>{{ menu.author.firstname }} {{ menu.author.lastname }}</td>
                <td>
                    <a class="ui inverted button small blue" href="{{ path('menu_show', { 'id': menu.id }) }}">Voir</a>
                    {% if is_granted("ROLE_EDITEUR") %}
                        <a  class="ui inverted button small orange" href="{{ path('menu_edit', { 'id': menu.id }) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.pages_count > 1 %}
        {% include 'RestaurantBundle:Default:pagination.html.twig' %}
    {% endif %}
    <br>

    {% if is_granted('ROLE_EDITEUR') %}
        <a class="ui inverted button small green" href="{{ path('menu_new') }}">Créer un menu</a>
    {% endif %}
{% endblock %}
