{% extends 'base.html.twig' %}
{% block title %}Création menu{% endblock %}
{% block body %}
    <h1>Création d'un menu</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="ui button inverted green" type="submit" value="Creer" />
    {{ form_end(form) }}
    <a class="ui button inverted blue" href="{{ path('menu_index') }}">Retour à la liste</a>

{% endblock %}
