{% extends 'base.html.twig' %}
{% block title %}{{ menu.title }}{% endblock %}
{% block body %}
    <h1>Menu</h1>

    <table class="ui definition table">
        <tbody>
            <tr>
                <td>Nom du menu : </td>
                <td>{{ menu.title }}</td>
            </tr>
            <tr>
                <td>Prix (TTC) : </td>
                <td>{{ menu.price }}€</td>
            </tr>
            {% if is_granted('ROLE_EDITEUR') %}
                <tr>
                    <td>Etat du menu : </td>
                    <td>
                        {% if menu.status == "ACCEPTED" %}<span class="ui green tag label">Validé</span>{% endif %}
                        {% if menu.status == "DRAFT" %}<span class="ui teal tag label">Brouillon</span>{% endif %}
                        {% if menu.status == "REFUSED" %}<span class="ui red tag label">Refusé</span>{% endif %}
                        {% if menu.status == "PENDING" %}<span class="ui yellow tag label">En attente</span>{% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Auteur du menu : </td>
                <td>{{ menu.author.firstname }} {{ menu.author.lastname }}</td>
            </tr>
            {%  if menu.plats is not empty%}
            <tr>
                <td>Plats du menu</td>
                <td>
                    <div class="ui cards">
                        {% for plat in menu.plats %}
                            <div class="card">
                                <div class="image">
                                    {% if plat.image %}<img class="imagePlats" src="{{ asset('img/uploads/' ~ plat.image) }}" alt="image du plat" style="width: 100px;">{% else %}Pas de photo pour ce plat{% endif %}
                                </div>
                                <div class="content">
                                    <div class="header">
                                        <a href="{{ path('plat_show', {'id': plat.id}) }}">{{ plat.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a class="ui button inverted blue" href="{{ path('menu_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_EDITEUR') %}
        <a class="ui button inverted orange" href="{{ path('menu_edit', { 'id': menu.id }) }}">Editer</a>
    {% endif %}
    {%  if is_granted('ROLE_REVIEWER') %}
        {{ form_start(delete_form) }}
            <input class="ui button inverted red" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
