<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 'assets/css/*' filter='cssrewrite' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.jpg') }}"/>
</head>
<body>

<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ path('home') }}" class="header item">
            Restaurant
        </a>
        <a href="{{ path('home') }}" class="item">Accueil</a>
        <a href="{{ path('plat_index') }}" class="item">Plats</a>
        <a href="{{ path('menu_index') }}" class="item">Menus</a>
        <a href="{{ path('reservation_new') }}" class="item">Réserver</a>
        {% if is_granted('ROLE_SERVEUR') %}
            <div class="right menu">
                <div class="ui simple dropdown item">
                    Admin <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if is_granted('ROLE_CHEF') %}
                            <a class="item" href="{{ path('admin_user_index') }}">Utilisateurs</a>
                        {% endif %}
                        {% if is_granted('ROLE_EDITEUR') %}
                            <a class="item" href="{{ path('plat_admin_index') }}">Plats</a>
                            <a class="item" href="{{ path('menu_admin_index') }}">Menus</a>
                            <a class="item" href="{{ path('allergene_index') }}">Allergènes</a>
                        {% endif %}
                        {% if is_granted('ROLE_SERVEUR') %}
                            <a class="item" href="{{ path('reservation_index') }}">Réservations</a>
                        {% endif %}
                    </div>
                </div>
                <a class="item" href="{{ path('logout') }}">Déconnexion</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_SERVEUR') == false %}
            <div class="right menu">
                <a class="item" href="{{ path('login') }}">Connexion</a>
            </div>
        {% endif %}

    </div>
</div>
<div style="margin-top:50px;min-height: 500px;margin-bottom: 100px;" class="ui container">
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="ui {{ label }} message">
                <i class="close icon"></i>
                <div class="header">
                    {{ flash }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>


<div class="ui inverted vertical footer segment form-page">
    <div class="ui center aligned container">
        <div class="ui horizontal inverted  divided link list">
            <p class="item">Projet Restaurant Symfony</p>
            <p class="item">Réalisé par Guillaume Dedet et Quentin Tuyeras</p>
            <p class="item">IUT du Limousin 2017</p>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    {% javascripts 'assets/js/*' output='js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade')
                ;
            })
        ;
        $('.ui.checkbox').checkbox();
        $('.ui.calendar').calendar({
            monthFirst: false,
            text: {
                days: ['D', 'L', 'Ma', 'Me', 'J', 'V', 'S'],
                months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthsShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                today: 'Ajourd\'hui',
                now: 'Maintenant',
                am: 'AM',
                pm: 'PM'
            },
            ampm: false,
            minDate: new Date(),
            formatter: {
                datetime: function(date, settings){
                    if(!date) return '';
                    return formatLocalDate(date);
                }
            }
        });

        function formatLocalDate(date) {
            var now = date,
                pad = function(num) {
                    var norm = Math.abs(Math.floor(num));
                    return (norm < 10 ? '0' : '') + norm;
                };
            return now.getFullYear()
                + '-' + pad(now.getMonth()+1)
                + '-' + pad(now.getDate())
                + ' ' + pad(now.getHours())
                + ':' + pad(now.getMinutes())
                + ':' + pad(now.getSeconds());
        }
    </script>
{% endblock %}
</body>
</html>
