{% extends '::base.html.twig' %}
{% block title %}Admin Home{% endblock %}
{% block body %}
    <h1>Admin</h1>
    <table class="ui table aligned center centered">
        <tr>

        </tr>
    </table>
{% endblock %}
