{% extends '::base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
    <h1>Login</h1>
    {% if error %}
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>

    {% endif %}
    <form class="ui form" action="{{ path('login') }}" method="post">
        <div class="field">
            <label for="username">Login :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="field">
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="_password" />
        </div>
        <button class="ui button inverted green" type="submit">Se connecter</button>
    </form>
{% endblock %}
