
<h3>Un nouveau plat a été mis en ligne</h3>

Bonjour {{ firstname }} {{ lastname }}! Un nouveau plat vient d'être mis en ligne.

<h1>Plat</h1>

<table>
    <tbody>
    <tr>
        <th>Nom du plat : </th>
        <td>{{ plat.title }}</td>
    </tr>
    <tr>
        <th>Description du plat : </th>
        <td>{{ plat.description }}</td>
    </tr>
    <tr>
        <th>Prix (TTC) : </th>
        <td>{{ plat.price }}€</td>
    </tr>
    <tr>
        <th>Fait Maison : </th>
        <td>{% if plat.isHomeMade %}Oui{% else %}Non{% endif %}</td>
    </tr>
    <tr>
        <th>Catégorie du plat : </th>
        <td>{{ plat.category }}</td>
    </tr>
    {%  if plat.allergenes is not empty %}
        <tr>
            <th>Allergenes</th>
            <td>
                <ul>
                    {% for a in plat.allergenes %}
                        <li>{{ a.name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {%  endif %}
    </tbody>
</table>

Merci !
