
<h3>Un nouvelle réservation a été créée</h3>

Bonjour {{ firstname }} {{ lastname }}! Une nouvelle réservation vient d'être créée.

<h1>Réservation</h1>

<table>
    <tbody>
    <tr>
        <th>Date de réservation</th>
        <td>{{ reservation.reservationDate|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Nombre de Personne</th>
        <td>{{ reservation.peopleNumber }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ reservation.email }}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ reservation.lastname }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ reservation.firstname }}</td>
    </tr>
    <tr>
        <th>Numéro de téléphone</th>
        <td>{{ reservation.telNumber }}</td>
    </tr>
    </tbody>
</table>


Merci !
