
<h3>Un menu a été modifié</h3>

Bonjour {{ firstname }} {{ lastname }}! Un menu a été modifié.

<h1>Menu</h1>

<table class="ui definition table">
    <tbody>
    <tr>
        <td>Nom du menu : </td>
        <td>{{ menu.title }}</td>
    </tr>
    <tr>
        <td>Prix (TTC) : </td>
        <td>{{ menu.price }}€</td>
    </tr>
    <tr>
        <td>Ordre d'apparition : </td>
        <td>{{ menu.showOrder }}</td>
    </tr>
    {%  if menu.plats is not empty%}
        <tr>
            <td>Plats du menu</td>
            <td>
                <ul>
                    {% for plat in menu.plats %}
                        <li>{{ plat.title }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>

Merci !

