
<h3>Ce menu n'a pas de plats</h3>

Bonjour {{ firstname }} {{ lastname }}! Ce menu n'a pas de plats !
Nous avons pensé que vous voudriez être au courant.

<h1>Menu</h1>

<table class="ui definition table">
    <tbody>
    <tr>
        <td>Nom du menu : </td>
        <td>{{ menu.title }}</td>
    </tr>
    <tr>
        <td>Prix (TTC) : </td>
        <td>{{ menu.price }}€</td>
    </tr>
    <tr>
        <td>Ordre d'apparition : </td>
        <td>{{ menu.showOrder }}</td>
    </tr>
    </tbody>
</table>


Merci !
