{% extends 'base.html.twig' %}
{% block title %}Edition allergene{% endblock %}
{% block body %}
    <h1>Edition d'un allergene</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="ui button inverted green" type="submit" value="Editer" />
    {{ form_end(edit_form) }}
     <a class="ui button inverted blue" href="{{ path('allergene_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_CHEF') %}
        {{ form_start(delete_form) }}
            <input class="ui button inverted red" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
