{% extends 'base.html.twig' %}
{% block title %}Allergenes{% endblock %}
{% block body %}
    <h1>Liste des allergenes</h1>

    <table class="ui table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for allergene in allergenes %}
            <tr>
                <td>{{ allergene.name }}</td>
                <td>
                    <a class="ui inverted button small blue" href="{{ path('allergene_show', { 'id': allergene.id }) }}">Voir</a>
                    <a class="ui inverted button small orange" href="{{ path('allergene_edit', { 'id': allergene.id }) }}">Editer</a>
                    {% if is_granted('ROLE_CHEF') %}<a class="ui inverted button small red" href="{{ path('allergene_delete', {'id' : allergene.id}) }}">Supprimer</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.pages_count > 1 %}
        {% include 'RestaurantBundle:Default:pagination.html.twig' %}
    {% endif %}
    <br>

    {% if is_granted('ROLE_EDITEUR') %}
        <a class="ui inverted button small green" href="{{ path('allergene_new') }}">Créer un allergene</a>
    {% endif %}
{% endblock %}
