{% extends 'base.html.twig' %}
{% block title %}{{ allergene.name }}{% endblock %}
{% block body %}
    <h1>Allergene</h1>

    <table class="ui definition table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ allergene.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="ui button inverted blue" href="{{ path('allergene_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_EDITEUR') %}
        <a class="ui button inverted orange" href="{{ path('allergene_edit', { 'id': allergene.id }) }}">Editer</a>
    {%  endif %}
    {% if is_granted('ROLE_CHEF') %}
        {{ form_start(delete_form) }}
            <input class="ui button inverted red" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
