{% extends 'base.html.twig' %}
{% block title %}Réservations{% endblock %}
{% block body %}
    <h1>Liste des réservations</h1>

    <table class="ui table">
        <thead>
            <tr>
                <td>Date Réservation</td>
                <td>Nombre de Personnes</td>
                <td>Email</td>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Téléphone</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{% if reservation.reservationDate %}{{ reservation.reservationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reservation.peopleNumber }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.lastname }}</td>
                <td>{{ reservation.firstname }}</td>
                <td>{{ reservation.telNumber }}</td>
                {%  if is_granted('ROLE_SERVEUR') %}
                    <td>
                        {%  if not reservation.isConfirmed %}
                        <a class="ui inverted button small green" href="{{ path('reservation_validate', {'id': reservation.id}) }}">Valider</a>
                        {% endif %}
                        <a class="ui inverted button small red" href="{{ path('reservation_delete', {'id': reservation.id}) }}">Refuser et supprimer</a>

                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.pages_count > 1 %}
        {% include 'RestaurantBundle:Default:pagination.html.twig' %}
    {% endif %}

{% endblock %}
