{% extends 'base.html.twig' %}
{% block title %}Réserver{% endblock %}
{% block body %}
    <h1>Réserver</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="ui button inverted green" type="submit" value="Réserver" />
    {{ form_end(form) }}
{% endblock %}
