{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Reservationdate</th>
                <td>{% if reservation.reservationDate %}{{ reservation.reservationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Peoplenumber</th>
                <td>{{ reservation.peopleNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reservation.email }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ reservation.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ reservation.firstname }}</td>
            </tr>
            <tr>
                <th>Telnumber</th>
                <td>{{ reservation.telNumber }}</td>
            </tr>
            <tr>
                <th>Isconfirmed</th>
                <td>{% if reservation.isConfirmed %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if reservation.createdAt %}{{ reservation.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if reservation.updatedAt %}{{ reservation.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
