{% extends 'base.html.twig' %}
{% block title %}Plats - Admin{% endblock %}
{% block body %}
    <h1>Liste des plats - Admin</h1>
    <div>
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        {{ form_end(filterForm) }}
    </div>
    <table class="ui table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Auteur</th>
            <th>Fait Maison</th>
            <th>Image</th>
            <th>Categorie</th>
            <th>Statut</th>
            <th>Actions</th>
            {% if is_granted("ROLE_CHEF") %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.title }}</td>
                <td>{{ plat.description }}</td>
                <td>{{ plat.price }}€</td>
                <td>{{ plat.author.firstname }} {{ plat.author.lastname }}</td>
                <td>{% if plat.isHomeMade %}Oui{% else %}Non{% endif %}</td>
                <td>{% if plat.image %}<img src="{{ asset('img/uploads/' ~ plat.image) }}" alt="image du plat" style="width: 100px">{% else %}Pas d'image pour ce plat{% endif %}</td>
                <td>{{ plat.category }}</td>
                <td>
                    {% if plat.status == "ACCEPTED" %}<span class="ui green tag label">Validé</span>{% endif %}
                    {% if plat.status == "DRAFT" %}<span class="ui teal tag label">Brouillon</span>{% endif %}
                    {% if plat.status == "REFUSED" %}<span class="ui red tag label">Refusé</span>{% endif %}
                    {% if plat.status == "PENDING" %}<span class="ui yellow tag label">En attente</span>{% endif %}
                </td>
                <td>

                    <a  class="ui inverted button small blue" href="{{ path('plat_show', { 'id': plat.id }) }}">Voir</a>
                    <a  class="ui inverted button small orange" href="{{ path('plat_edit', { 'id': plat.id }) }}">Editer</a>

                {% if plat.status == "PENDING" and is_granted("ROLE_REVIEWER") %}
                    <a class="ui inverted button small green" href="{{ path('plat_accept', {'id' : plat.id}) }}">Accepter le plat</a>
                    <a class="ui inverted button small red" href="{{ path('plat_refuse', {'id' : plat.id}) }}">Refuser le plat</a>
                {% endif %}
                </td>
                {% if is_granted("ROLE_CHEF") %}
                    <td>
                        <a class="ui inverted small icon button red" href="{{ path('plat_delete', {'id' : plat.id}) }}">
                            <i class="remove icon"></i>
                        </a>
                    </td>
                {% endif%}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.pages_count > 1 %}
        {% include 'RestaurantBundle:Default:pagination.html.twig' %}
    {% endif %}
    <br>

    <a class="ui button inverted green" href="{{ path('plat_new') }}">Créer un plat</a>
{% endblock %}
