{% extends 'base.html.twig' %}
{% block title %}Edition plat{% endblock %}
{% block body %}
    <h1>Edition d'un plat</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

    {% if plat.image is not null %}
        <div class="ui red inverted segment">
            Ce plat possède une image, si vous ne remplissez pas le champ l'image restera inchangée
        </div>
    {% endif %}
    <input class="ui button inverted green" type="submit" value="Editer"/>
    {{ form_end(edit_form) }}


    <a  class="ui button inverted blue" href="{{ path('plat_index') }}">Retour à la liste </a>

    {% if is_granted('ROLE_CHEF') %}
        {{ form_start(delete_form) }}
            <input class="ui button inverted red" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
