{% extends 'base.html.twig' %}
{% block title %}Plats{% endblock %}
{% block body %}
    <h1>Liste des plats</h1>

    <table class="ui table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Auteur</th>
                <th>Fait Maison</th>
                <th>Image</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.title }}</td>
                <td>{{ plat.description }}</td>
                <td>{{ plat.price }}€</td>
                <td>{{ plat.author.firstname }} {{ plat.author.lastname }}</td>
                <td>{% if plat.isHomeMade %}Oui{% else %}Non{% endif %}</td>

                <td>{% if plat.image %}<img src="{{ asset('img/uploads/' ~ plat.image) }}" alt="image du plat" style="width: 100px">{% else %}Pas d'image pour ce plat{% endif %}</td>

                <td>{{ plat.category }}</td>
                <td>
                        <a class="ui inverted button small blue" href="{{ path('plat_show', { 'id': plat.id }) }}">Voir</a>
                    {% if is_granted("ROLE_EDITEUR") %}
                        <a class="ui inverted button small orange" href="{{ path('plat_edit', { 'id': plat.id }) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.pages_count > 1 %}
        {% include 'RestaurantBundle:Default:pagination.html.twig' %}
    {% endif %}
    <br>

    {% if is_granted('ROLE_EDITEUR') %}
        <a class="ui inverted button small green" href="{{ path('plat_new') }}">Créer un plat</a>
    {% endif %}
{% endblock %}
