{% extends 'base.html.twig' %}
{% block title %}Création plat{% endblock %}
{% block body %}
    <h1>Création d'un plat</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <input class="ui button inverted green" type="submit" value="Créer"/>
    {{ form_end(form) }}

    <a class="ui button inverted blue" href="{{ path('plat_index') }}">Retour à la liste</a>
{% endblock %}
