{% extends 'base.html.twig' %}
{% block title %}{{ plat.title }}{% endblock %}
{% block body %}
    <h1>Plat</h1>

    <table class="ui definition table">
        <tbody>
            <tr>
                <td>Nom du plat : </td>
                <td>{{ plat.title }}</td>
            </tr>
            <tr>
                <td>Description du plat : </td>
                <td>{{ plat.description }}</td>
            </tr>
            <tr>
                <td>Prix (TTC) : </td>
                <td>{{ plat.price }}€</td>
            </tr>
            <tr>
                <td>Auteur du plat : </td>
                <td>{{ plat.author.firstname }} {{ plat.author.lastname }}</td>
            </tr>
            {% if is_granted('ROLE_EDITEUR') %}
                <tr>
                    <td>Etat du plat : </td>
                    <td>
                        {% if plat.status == "ACCEPTED" %}<span class="ui green tag label">Validé</span>{% endif %}
                        {% if plat.status == "DRAFT" %}<span class="ui teal tag label">Brouillon</span>{% endif %}
                        {% if plat.status == "REFUSED" %}<span class="ui red tag label">Refusé</span>{% endif %}
                        {% if plat.status == "PENDING" %}<span class="ui yellow tag label">En attente</span>{% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Fait Maison : </td>
                <td>{% if plat.isHomeMade %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <td>Photo du plat : </td>
                <td>{% if plat.image %}<img src="{{ asset('img/uploads/' ~ plat.image) }}" alt="image du plat" style="width: 100px;">{% else %}Pas de photo pour ce plat{% endif %}</td>
            </tr>
            <tr>
                <td>Catégorie du plat : </td>
                <td>{{ plat.category }}</td>
            </tr>
            {%  if plat.allergenes is not empty %}
                <tr>
                    <td>Allergenes</td>
                    <td>
                        <ul>
                        {% for a in plat.allergenes %}
                            <li>{{ a.name }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {%  endif %}
        </tbody>
    </table>

    <a class="ui button inverted blue" href="{{ path('plat_index') }}">Retour à la liste</a>

    {% if is_granted("ROLE_EDITEUR") %}
        <a class="ui button inverted orange" href="{{ path('plat_edit', { 'id': plat.id }) }}">Editer</a>
    {% endif %}

    {{ form_start(delete_form) }}
        {% if is_granted("ROLE_CHEF") %}<input class="ui button inverted red" type="submit" value="Supprimer">{% endif %}
    {{ form_end(delete_form) }}

{% endblock %}
